<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
     <title>Iniciar Sesión - Mercado Liebre</title>
</head>
<body>
    <header>
        <div> 
         <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        </div>
        <div>
         <input type="search" placeholder="Buscar productos, marcas"> 
         </div>
        <div>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
        <nav>
         <ul>
             <li><a href="#">Ofertas</a></li>
             <li><a href="#">Tiendas Oficiales</a></li>
             <li><a href="#">Vender</a></li>
             <li><a href="#">Ayuda</a></li>
         </ul>
 
         <ul>
             <li><a href="#">Crea tu cuenta</a></li>
             <li><a href="#">Ingresá</a></li>
             <li><a href="#">Mis compras</a></li>
         </ul>
        </nav>
        <div class="burger-menu"> 
         <i class="fas fa-bars"></i>
        </div>
     </header>
     <main>
        
     </main>
</body>
</html>