/*
Paleta de colores 
    Amarillo: #EAC926;
     Azul: #03264C; 
     Celeste: #1259c3; 
     Gris oscuro: #666; 
     Gris claro: #ebebeb; 
     Verde: #39b54a;

Tamaños Tipográficos 
    Cuerpos de texto: 12px 
    Titulares (Basado en tu última visita/Ofertas): 24px
    Precios: 18px 
    Descuentos: 16px 
    Descripciones: 16px
*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{background-color: #ebebeb;}
p{
    font-size: 12px;
}

h1{
    font-size: 24px;
}

.price{
    font-size: 18px;
}
.discount{
    font-size: 16px;
    color: #39b54a;
} 
.description {
    font-size: 16px;
    margin-top:15px;
    color: #666;
}


/*=======================HEADER=======================================*/
header{
    background-color: #EAC926;
    text-align: center;
    padding: 5%;
}

header p h2{
    margin: 20px 0px;
    text-align: center; 
    font-weight: bold;
}
header .logo{
    
    width: 30%;
}
header ul li {
    list-style-type: none;
}
a{
    color:black;
    text-decoration:none;
}
header .fas{
    color:black;
}

.navbar {
    display: none;
}
div.burger-menu{
    text-align: center;
    margin-top: 14px;
}
div.burger-menu button{
    display: block;
    width: 40px;
    height: 36px;
    margin: auto;
    border-radius: 8px;
    background-color: #0349b2;
}
div.burger-menu button i {
    color: white;
    font-size: 20px;
    margin-top: 2px;
}
/*====================================================================*/

/*==========================MAIN=======================================*/

.Home-Banner img{
    width: 100%;
}

main{
    width: 90vw;
    margin: 0 auto;
}
main section h1{
    margin: 20px 0px;
    color: #666;
}
main section div.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 16px;
}
main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}
.product-details i{
    border-radius: 50%;
    border: #39b54a solid 1px;
    padding: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
}
.product-details .fas{
   color: #39b54a;
}

article div.product-details{
    border-top: 1px solid #ebebeb;
    padding: 15px;
  }
 
/*===================================================================*/
/*============================FOOTER==================================*/
footer article{
    text-align: center;
    margin: 30px;
}

footer i{
    font-size: 2em;
}
.fas{
    color: #1259c3;
}
article h2{
    font-size: 20px;
}
.copyright{
    font-size: 12px;
    margin: 20px;
    font-weight: bold;
    text-align: center;
}
/*====================================================================*/

/*======================MAIN: REGISTER y LOGIN====================================*/
.conteiner-register, .conteiner-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 80px 0px;
}
form.register, form.login {
    width: 60%;
    margin: auto;
    font-family: "Roboto";
}
div.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0px;
}
.checkbox-options{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 15px
    
}
.checkbox-options .option{
    display: flex;
}
.input-field > label{
    font-weight: bold;
}

div.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.buttons button{
    background-color: #0349b2;
    color:#ebebeb;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 20px;
}

/*==================================================================*/

/*========================RESPONSIVE===================================*/

/*----------------------Tablet------------------------ */
@media (min-width: 768px){
    header{
        padding: 20px 10px;
    }
    .top-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
    .search-field{
        display: flex;
        margin-left: 8px;
    }
    .navbar{
        display: block; 
        display: flex;
        justify-content: space-around;
        margin-bottom: -10px; 
    }
    .navbar ul{
        display: flex;
    }
    .navbar li{
        margin: 0 10px;
    }
    .burger-menu{
        display: none;
    }
    .box-product{
        flex-basis: 48%;
    }
    
    .input-field{
        height: 40px;
    }
}

/*----------------------------------------------------- */

/*----------------------Desktop------------------------ */
@media (min-width: 1024px){
    .search-field{
        display: flex;
        margin-left: 8px;
    }
    .box-product{
        flex-basis: 23%;
    }
    .navbar{
        max-width: 1200px;
        margin: auto;
    }
    .descuentos{
       margin-left: 30px;
    }
    .input-field{
        width: 630px;
        height: 40px;
    }
    
    /*---footer-Desktop-----*/
    .conteiner-info{
        display: flex;
        justify-content: space-between;
    }
    .info-footer{
        display: flex;
        flex-direction: column; 
    }
    .copyright{
        display: flex;
        align-items: center;
        margin-top: 43px;
        justify-content: center;
    }
    /*------------------------------------*/
    /*--------Productos-Desktop---------- */
   
    .box-product:hover{
        box-shadow:  0px 0px 10px rgb(100, 100, 100);
    }
    .infoProduct{
        transition: all 0.4s ease-in;
    }
    .description{
        position: relative;
        bottom: 40px;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s ease-in;
    }

    .box-product:hover .infoProduct{
        height: 5em;
    }

    .box-product:hover .description{
        position: relative;
        bottom: 0;
        z-index: 1;
        opacity: 1;
    }
    /*----------------------------------*/
}
